<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-warning" id="brand" href="/">Game-OJS</a>

    <!--menu-links-->     
    <a href="/games/board" class="nav-item nav-link mr-2">Board</a>
    <a href="/games/rps" class="nav-item nav-link mr-2">R-P-S</a>
    <a href="/games/blackjack" class="nav-item nav-link mr-2">Black Jack</a>     
    
    <a href="/users/logout" class="nav-item nav-link mr-2 text-warning" role="button">Log Out</a>       
</nav>
<!--section-->

<div class="container" id="game-board">
    <h3 class="display-4">BlackJack Challenge</h3>
    <p id="remark"></p>
    <form action="/records/updateOne" method="POST" class="form-inline mt-4 mb-4">
        <div class="form-group mr-2">
            <input type="text" name ="player" class="form-control ml-2"  placeholder="Enter Player Name" >
        </div>
    
        <div class="form-group mr-2">
            <input type="text" name ="win" class="form-control ml-2" id="win" placeholder="wins">
        </div>
        <div class="form-group mr-2">
            <input type="text" name ="draw" class="form-control ml-2" id="draw" placeholder="draws">
        </div>
        <div class="form-group mr-2">
            <input type="text" name ="loss" class="form-control ml-2" id="loss" placeholder="losses">
        </div>
    
        <input type="submit" value="Update Score" class="btn btn-warning btn-sm">
    </form>

    <div class="row m-auto" id="blackjack-area">
        <div class="col-md-6 border">
            <p id="humanScore"></p>
            <div id="humanDiv">
                <!--image display-->
            </div>

        </div>
        <div class="col-md-6 border">
            <p id="botScore"></p>
            <div id="botDiv">
                <!--image display-->
            </div>
            
        </div>
    </div>
    <button class="btn btn-secondary text-warning mt-4 mb-4" id="reset-btn">Reset Game</button>
</div>

<!--footer-->
<footer id="main-footer" class="bg-dark text-center text-warning">
    <p>&copy; 2020 Game-OJS. All rights reserved.</p>
</footer>


