<nav class="navbar navbar-expand-lg navbar-light bg-warning">            
    <!--menu-links-->     
    <a href="/games/hosted" class="nav-item nav-link mr-2 text-warning"role="button">Hosted</a>
    <a href="/games/Participating" class="nav-item nav-link mr-2 text-warning"role="button">Participating</a>     
    <a href="/games/hostAgame" class="nav-item nav-link mr-4 text-warning"role="button">Host</a>         
               
</nav>
