

<div class="row m-auto" style="height:88vh">
    <div class="col-md-4>
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <a class="navbar-brand text-warning" id="brand" href="/dashboard">Dashboard</a>  
        </nav>
        <div>
            <a href="/users/profile" class="mb-2">Profile</a><br>
            <a href="/games/stats" class="mb-2">Game Stats</a><br>
            <a href="/users/wallet" class="mb-2">Wallet</a><br>
            <a href="/users/messages" class="mb-2">Message</a><br>
            <a href="/store" >Store</a>
        </div>    
    </div>
    <div class="col-md-6">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">            
            
            <a href="/" class="nav-item nav-link mr-2 text-warning"role="button">Home</a>
            <a href="/games/board" class="nav-item nav-link mr-2 text-warning"role="button">Board</a>
            <a href="/games/rps" class="nav-item nav-link mr-2 text-warning"role="button">RPS</a>
            <a href="/games/blackjack" class="nav-item nav-link mr-2 text-warning"role="button">Black Jack</a>            
            <a href="/users/logout" class="nav-item nav-link ml-2 text-warning" role="button">Log Out</a>       
        </nav>
        <div class="main">
            <p class="lead mb-4">Welcome back <%= name %> </p>
          
            <div>
                
            </div>
        </div>      
    </div>
</div>


<!--footer-->
<footer id="main-footer" class="bg-dark text-center text-warning">
    <p>&copy; 2020 Game-OJS. All rights reserved.</p>
</footer>
</div>