<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-warning" id="brand" href="/">Game-OJS</a>
    <!--menu-links-->               
    <a href="/users/login" class="nav-item nav-link mr-2">Sign In</a>
    <a href="/users/register" class="nav-item nav-link mr-2 text-warning" role="button">Sign Up</a>       
</nav>

<!--section-->
<div class="jumbotrone text-justified" id="home">
    <div class="container">
        <!--home section-->
            <h1 class="text-warning">Game-OJS</h1>                
            <p>Simplistic web games...powered by Object Oriented Javascript</p>
            <a href="/users/register" class="btn btn-outline-warning mr-3 mb-3">Join Now</a>
    </div>
</div>

<!--footer-->
    <footer id="main-footer" class="bg-dark text-center">
        <p class="text-warning">&copy; 2020 Game-OJS. All rights reserved.</p>
    </footer>
</div>

