<h1>Welcome to the Api Resource.</h1>
<div class="row">
    <div class="col-md-6">
        <p>Find "ALL" records of games played and the players playing them.</p>
        <a href="/records/games">Games Record</a>
        <a href="/records/players">Player Records</a>
    </div>
        
    <div class="col-md-6">
        <p>Find or Delete "ONE" record</p>    
        <!--nav with form for record operation-->
    </div>
</div>
<br>
<div>
    <p><%= msg %></p>
    <div>
        <%= output %>
    </div>
</div>
