<div class='m-auto'>           
    <div class="row border" id="user-Stats">
        <div class="col-md-sm-xs-3 border-right">
        <!--
            <%= user.stats.rps.wins %>

        -->

        </div>
        <div class="col-md-sm-xs-3 border-right">
        <!--
            <%= user.stats.rps.draws %>

        -->
            
        </div>
        <div class="col-md-sm-xs-3 border-right">
        <!--
            <%= user.stats.rps.loss %>

        -->
            
        </div>
        <div class="col-md-sm-xs-3">
            <!--
            <%= user.stats.rps.percentage %>

        -->
            
        </div>
                        
    </div>