body{
    overflow: hidden;
}
.container, #home{
    height: 88vh;
}

a{
    color: #fff;
}

a:hover{
    text-decoration: underline;
}

#home{
    background: #555;
}

#home h1{
    padding-top:150px;
    font-size: 150px;
    letter-spacing: 0.9rem;
}

#home p{
    color:#fff;
    font-size: 1.4rem;
    letter-spacing: 0.5rem;
}

#rps-area #blackjack-area{
    width: 80%;
    border: 1px solid #000;
}

/*rock-paper-scissor*/
#rps-area #image1 img
#rps-area #image2 img
#rps-area #image3 img
#rps-area #humanChoice img
#rps-area #botChoice img{
    width: 100px;
    height: 100px;
}

#rps-area #image1 img:hover
#rps-area #image2 img:hover
#rps-area #image3 img:hover
#rps-area #humanChoice img:hover{
    box-shadow: 0px 10px 50px rgba(0, 0, 255, 0.7);
}

#rps-area #botChoice img:hover{
    box-shadow: 0px 10px 50px rgba(255, 0, 0, 0.7);
}